
body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #8a2be2, #4b0082);
    margin: 0;
    font-family: 'Poppins', sans-serif;
  }

  .calculator-container {
    position: relative;
    max-width: 300px;
    width: 100%;
    border-radius: 12px;
    padding: 20px;
    background: linear-gradient(to right, #da70d6, #9932cc);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }

  .output {
    height: 80px;
    width: 90%;
    outline: none;
    border:#4b0082;
    text-align: right;
    margin-bottom: 20px;
    font-size: 25px;
    color: #4b0082;
    background-color: #fff;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
  }

  .display:focus {
    box-shadow: 0 0 10px rgba(75, 0, 130, 0.8);
  }

  .buttons {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(4, 1fr);
  }

  .buttons button {
    padding: 15px;
    border-radius: 8px;
    border: black;
    font-size: 20px;
    cursor: pointer;
    background-color: #9932cc;
    color: #fff;
    transition: background-color 0.3s ease;
  }

  .buttons button:active {
    transform: scale(0.98);
  }

  .operator {
    background-color: #6a5acd;
  }
  .operator[data-value="AC"],
      .operator[data-value="DEL"] {
        background-color: #ff1493;
      }